body {
    background-color: rgb(87, 87, 87);
}

.box {
  border-radius: 5px;
  background-color: #fa8072;
  margin: 10px;
  padding: 15px;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2, h3 {
  text-align: left;
  font-size: 20px;
}

h4 {
  text-align: center;
  font-size: 30px;
}


.examples {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 80%;
    height: 100%;
}

Button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: white;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: rgb(87, 87, 87);
  border-radius: 6px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  float: right;
  }

Button:hover {
  background-color: #999; /* Green */
  color: white;
}

@media (max-width: 900px) {
  .row {
    display: block;
  }
}

.pretty_box {
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(220,220,220);
  margin: 20px;
  box-shadow: 2px 2px 2px lightgrey;
}